extends ../layouts/default

block content
	#header
		style(type='text/css', media='screen').
			body {
				overflow: hidden;
			}
			#hi {
				text-align: center;
				margin-top: 10%;
			}
			
	#body
		div#hi
			h1 Hi, My name is Elijah.
			h2 I build companies & products.
			
		
