extends ../../layouts/default

block content
	#header
		style(type='text/css', media='screen').
			body {
				overflow: hidden;
			}

			#hi {
				text-align: center;
			}

	#body
		div#hi
			h1 Hi, My name is Elijah.
			h2 I build companies and products.
			
		pre#editor.
			/**
			* We're going to put some algorithms in here.
			*/

			function foo(items) {
				var x;
				for (i = 0; i < items.length; i++) {
					alert("Ace Rocks " + items[i]);
				}
			}
		
		script(src='https://cdn.rawgit.com/ajaxorg/ace-builds/784ffa86/src-min-noconflict/ace.js', type='text/javascript', charset='utf-8')
		script.
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/tomorrow_night_blue");
			editor.getSession().setMode("ace/mode/javascript");
