extends ../../layouts/default

block content
	#header
		style(type='text/css', media='screen').
			body {
				overflow: hidden;
			}

			#hi {
				text-align: center;
			}

	#body
		div#hi
			h1 Hi, My name is Elijah.
			h2 I build companies and products.


		pre#editor.
			/**
			* I made the switch from Wordpress to Keystone.js so my site is new and under
			* constant construction. I am working out an idea for using an Ace Editor
			* to display content in an iframe so that I can show code I am working with 
			* along with its output. So for now Ace is gonna sit right here on my
			* front lawn until I figure out what to do with it next. Also, Codepen.io charges
			* to embed fully functional editor with iframe. Who pays for something like that?
			* Not this guy.
			*/

			function foo(items) {
				var i;
				for (i = 0; i < items.length; i++) {
					alert("Ace Rocks " + items[i]);
				}
			}
		script(src='https://cdn.rawgit.com/ajaxorg/ace-builds/784ffa86/src-min-noconflict/ace.js', type='text/javascript', charset='utf-8')
		script.
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/tomorrow_night_blue");
			editor.getSession().setMode("ace/mode/javascript");
